@charset "UTF-8";

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("images/main.jpg");
    background-size: cover;
    background-attachment: fixed;
}